/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, 
h1, h2, h3, h4, h5, p, code,
center,dl, dt, dd, ul, li, label, aside, footer, header, 
menu, nav, section, audio {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/*
    COLOR PALETTE
    #020659 background
    #020873
    #030A8C
    #2104D9
    #0D8DFB
    #2699FB
    #590242
*/
@media screen and (min-width: 374px){
    html {
        background-color: #020659;
        box-sizing: border-box;
    }
    *, *:before, *:after {
        box-sizing: inherit;
    }

    body {

        margin: 0 auto;
        font-family: Optima, sans-serif;
        color: #FFFFFF;
        max-width: 374px;
        height:100%;
    }

    header {
        width:374px;
        background-image: linear-gradient(to right, #2104D9, #030A8C, #020659, #000000);
        padding: 2px 2px 20px 20px;
        margin: 0px;

    }
    h1 {
        font-size: 1.25em; /* 22px */ 
        line-height: 2em;
    }
    h1, h2, h3 {
        font-weight: bold;
        text-transform: uppercase;
        padding: 0px;

    }
    h2, h3 {
        font-size: 20px; /* 20px */
        margin-left: 20px;
        color: #590242;
        line-height: 2em;
        margin: 5px;
        font-variant: small-caps;
    }
    h2 {
        margin: 0;
        position: relative;
    }
    h4{
        
        font-variant: small-caps;
    }

    nav h2 {
        color:#FFFFFF;
        float:right;
        font-size: 22px; /* 22px */ 
        line-height: 2em;
        font-family: Verdana;
        text-align: left;
        text-transform: capitalize;
    }
    nav {
        position: relative;
        background-color:#020873;
        height: auto;
        
    }

/* START Hamberger Menu */
ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
}
ul li {
    text-decoration: none;
    list-style-type: none;
    padding-bottom: 15px;
    text-align: left;
    font-family: Tahoma; 
}
label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
label span:before, label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: 5px;
}
label span:after {
    top: -5px;
}
input {
    display: none;
}
input:checked ~ ul {
    max-height: 500px;
}
input:checked ~ label span {
    background: transparent;
}
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
input:checked ~ label span:after {
    transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}
/* END Hamburger Menu */




main {
    background-color: #FFFFFF;
    height: 100%;
    margin: 0px;
    padding-bottom: 20px;
}


    p, dl, dd {
        font-size: 1em;
        font-family: verdana;
    }

    .grid-container {
        display: grid;
        grid-template-rows: auto auto;
        gap: 2px;
        background-color:#FFFFFF;
        padding: 5px;
        width: 374px;
        height: auto;
        
    }

    .grid-container > div {
        position:relative;
        background-color: #0D8DFB;
        padding: 10px 0;
        font-size: 1em;
        height: 300px;
        width: 100%;
    }
    .grid-container section {
        position: relative;
        background-color: #2699FB;
        width: 160px;
        padding: 10px;
        
    }


    footer p {
        font-size: 1.25em;
        padding: 25px;
    }
    footer {
        width:100%;
        height: auto;
        background-color: #FFFFFF;
        text-align: center;
        color:#590242;
        margin-top: 0px;
    }

    .scroll {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        overflow-y: hidden;
        overflow-x: auto;
    
    }
    .scroll2 {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        overflow-y: hidden;
        overflow-x: auto;
    
    }
    
    .scroll section {
        margin: 10px;
        position: relative;
    }
    .scroll2 section {
        margin: 10px;
        position: relative;
    }
    
    .scroll div {
        position: absolute;
        top: 251px;
        background-color: rgba(255, 255, 255, 0.75);
        padding: 5px;
        height: 50px;
        width: 374px;
    }
    dl {
        display: flex;
    }
    dt {
        padding-right: 5px;
    }
    audio {
        position: absolute;
        bottom: 150px;
        left: 5px;
    }
    .more {
        text-decoration: none;
        background-color: #590242;
        color: #FFFFFF;
        border-radius: 5px;
        padding: 1px;
        width: 200px;
        height: 55px;
        display: block;
        text-align: center;
        margin: 5px 30px 25px;
    }

    .more:hover {
        background-color: #020659;
    }
    audio::-webkit-media-controls-mute-button {
        background-color:#FFFFFF;
        border-radius: 50%;

    }
    audio::-webkit-media-controls-play-button {
        background-color:#FFFFFF;
        border-radius: 50%;
    }
    audio::-webkit-media-controls-enclosure {
        background-color: rgba(255, 255, 255, 0.75);
    }

    #trending ::-webkit-scrollbar {
        width: 15px;
    }
    #trending ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 15px #590242;
    }
    #trending ::-webkit-scrollbar-thumb {
        background: #590242;
        border-radius: 5px;
    }
    #trending ::-webkit-scrollbar-thumb:hover {
        background: #020659;
    }

    #playlists ::-webkit-scrollbar, #curated ::-webkit-scrollbar {
        width: 15px;
    }
    #playlists ::-webkit-scrollbar-track, #curated ::-webkit-scrollbar-track  {
        box-shadow: inset 0 0 15px #020659;
    }
    #playlists ::-webkit-scrollbar-thumb, #curated ::-webkit-scrollbar-thumb {
        background: #020659;
        border-radius: 5px;
    }
    #playlists ::-webkit-scrollbar-thumb:hover, #curated ::-webkit-scrollbar-thumb:hover {
        background: #FFFFFF
    }
}   

@media screen and (min-width:834px) {
    
    ul {
        overflow: visible;
        position: absolute;
        top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    label span, input {
        display: none;
    }

    body {
        max-width: 834px;
    }

    header {
        width:100%;
        background-image: linear-gradient(to right, #2104D9, #030A8C, #020659, #000000);
        padding: 2px 2px 20px 20px;
        margin: 0px;
}
nav {
    height: 100px;
}

main{
    height: 1000px;
}
.grid-container {
    grid-template-columns: auto auto;
    width: 834px;
    
}

.grid-container > div {
    background-color: #0D8DFB;
    padding: 10px 0;
    font-size: 1em;
    height: 460px;
    width: 100%;
    margin-top: 0px;
    overflow-y:auto;
    overflow-x:hidden;
    
}
.grid-container section {
    background-color: #2699FB;
    width: 100%;
    padding: 10px;
    height: 150px;
    grid-template-rows: repeat(5, 1fr);
    
}
.grid-container img{
    float: left;
    margin-right: 20px
}
.more-left{
    position:absolute;
    float:left;
    margin-top: 465px;
    margin-left: 200px;
    text-decoration: none;
    background-color: #590242;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 1px;
    width: 200px;
    height: 55px;
    display: block;
    text-align: center;

}
.more-right{
    position:absolute;
    float:right;
    margin-top: 10px;
    margin-left: 600px;
    text-decoration: none;
    background-color: #590242;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 1px;
    width: 200px;
    height: 55px;
    display: block;
    text-align: center;
    
}
.more {
    float: right;
}
.scroll2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    overflow-y: hidden;
    overflow-x: auto;

}



h4{
    font-family: tahoma;
}

ul li {
    margin: 50px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-left: 5px;
}
.li_margin {
    margin-left: 175px;
}
nav h2 {
    margin-top: 20px;
    margin-right: 650px;
}

}

